  <table class="md:w-full max-w-full text-sm text-left text-black bg-[#FFF]  rounded-lg">
  <thead class="text-xs text-black uppercase bg-gray-50">
  <tr class="border-b-2 border-[#FAE115]">
    <th scope="col" class="px-3 py-3 md:flex hidden ">
        Pos
    </th>
    <th scope="col" class="px-3 py-3">
      Club
    </th>
    <th scope="col" class="px-3 py-3">
      Name
    </th>
    <th scope="col" class="px-1 py-3">
      P
    </th>
    <th scope="col" class="px-1 py-3">
      W
    </th>
    <th scope="col" class="px-1 py-3">
      D
    </th>
    <th scope="col" class="px-1 py-3">
      L
    </th>
    <th scope="col" class="px-1 py-3">
      GF
    </th>
    <th scope="col" class="px-1 py-3">
      GA
    </th>
    <th scope="col" class="px-1 py-3">
      GD
    </th>
    <th scope="col" class="px-1 py-3">
      POINTS
    </th>
  </tr>
  </thead>
  <tbody>

  <%= render 'table/table_show' %>

</table>
