<div>
  <h1 class="p-8 bg-[#FAE115] font-bold uppercase text-5xl">FIXTURES</h1>
  <div class="p-6">
    <h1 class="text-3xl font-normal mb-3">Match Day</h1>
    <button class="flex bg-[#FAE115] w-[317px] justify-between items-center">
      <p class="ml-4">All</p>
      <AiOutlineDown class="mr-4" size={35} />
    </button>
  </div>
  <div class="bg-[#D9D9D9] grid grid-cols-2 gap-4 p-6">
    <div>
      <button>Features</button>
    </div>
    <div class="flex justify-between pr-10">
      <button>On sale</button>
      <button>Now selling</button>
    </div>
  </div>
  <div class="bg-[#FAE115] container">
    <%= render 'fixture/singleticket' %>
    <%= render 'fixture/singleticket' %>
    <%= render 'fixture/singleticket' %>
  </div>
</div>