<div class="p-8 bg-[#FAE115] font-bold uppercase text-5xl">
  <h1>SHOP</h1>
</div>

<div class="flex ">
  <div class="container border-[#f4e721]">
    <%= image_tag "msealskit.png", class: "w-[400px] " %>

  </div>
  <div>
    <h1>AUTHENTIC HOME SHIRT</h1>
    <p>Color: Yellow with Black and White strips</p>
    <p>Size: S, M, L, XL</p>
    <p>Price: $50</p>
    <p>Quantity: 1</p>
    <button class="bg-[#FAE115] font-bold uppercase text-5xl m">Add to Cart</button>
  </div>


</div>

