<div class="p-8 bg-[#FAE115] font-bold uppercase text-5xl">
  <h1>SHOP</h1>
</div>

<div class="flex flex-col md:flex-row md:items-center gap-10 ">
  <div class="md:w-[40%]  border-[#000] md:p-16 p-3 border-2">
    <%= image_tag "msealskit.png", class: "w-[100%]" %>
  </div>
  
  <div class="mx-5">
    <h1 class="text-2xl md:text-5xl font-bold">AUTHENTIC HOME SHIRT 22/23</h1>
 
    <p class="mt-2">Color: Yellow with Black and White stripes</p>
    <div class="mt-2 gap-3  grid grid-cols-3">
      <p class="border-[#FAE115] border-2 p-2 md:p-4 size-option" data-size="Small">Small</p>
      <p class="border-[#FAE115] border-2 p-4 size-option" data-size="Medium">Medium</p>
      <p class="border-[#FAE115] border-2 p-4 size-option" data-size="Large">Large</p>
      <p class="border-[#FAE115] border-2 p-4 size-option" data-size="XL">XL</p>
      <p class="border-[#FAE115] border-2 p-4 size-option" data-size="XXL">XXL</p>
      <p class="border-[#FAE115] border-2 p-4 size-option" data-size="Kids">Kids</p>
    </div>
    
    <div class="mt-2">
      <input type="number" id="quantity" name="quantity" class="bg-[#FAE115] border-none" min="1" value="1">
    </div>
    
    <div id="price" class="mt-2">Price: 1500</div>
    
    <button id="buyButton" class="bg-[#FAE115] p-3 rounded-lg mt-2">Buy Now</button>
  </div>
</div>
  <style>
 

  .size-option.selected {
    background-color: #FAE115;
    color: #000;
  }
</style>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const quantityInput = document.getElementById("quantity");
    const priceElement = document.getElementById("price");
    const buyButton = document.getElementById("buyButton");
    const sizeOptions = document.querySelectorAll(".size-option");

    let selectedSize = null;


    sizeOptions.forEach((option) => {
      option.addEventListener("click", () => {
        sizeOptions.forEach((opt) => {
          opt.classList.remove("selected");
        });
        option.classList.add("selected");
        selectedSize = option.dataset.size;
        updatePrice();
      });
    });

   
    function updatePrice() {
      const quantity = quantityInput.value;
      const pricePerItem = 1500; 
      let price = pricePerItem * quantity;
      if (selectedSize === "Kids") {
        price += 1500; 
      }
      priceElement.textContent = `Price: ksh  ${price} `;
    }

    quantityInput.addEventListener("input", updatePrice);


    buyButton.addEventListener("click", () => {
      const quantity = quantityInput.value;
      const pricePerItem = 1500; 
      let price = pricePerItem * quantity;
      if (selectedSize === "Kids") {
        price += 1500; 
      }


      axios
        .post("/send_email", { quantity, price, size: selectedSize })
        .then(() => {
        
          console.log("Email sent successfully");
        })
        .catch((error) => {
    
          console.error("Error sending email:", error);
        });
    });
  });
</script>
