<div class="bg-[#FCFEE9] flex justify-between md:p-10 m-2">
  <div class=" align-center hidden md:flex">
    <%= image_tag "logo.png", class:"h-[150px]" %>
    <%= image_tag "wazitologo.png" %>
  </div>
  <div class="flex flex-col justify-between">
    <h1>Murang&apos;a seals</h1>
    <div class="flex flex-col">
      <div class="flex align-center text-center">
        <p class="mr-1">Sun 29 April</p>
        <div class="border-l-2 border-[#000] h-5"></div>
        <p class="ml-1 mr-1">2:00pm</p>
        <div class="border-l-2 border-[#000] h-5"></div>
        <p class="ml-1">Murang&apos;a stadium</p>
      </div>

      <div>
        <p class="text-[#A8A2A2]">Division 2</p>
      </div>
    </div>
  </div>
  <div class="flex align-center items-center">
    <p class="text-[#FE0B0B] uppercase">Sold out</p>
  </div>
  <div class="flex flex-col justify-between">

  </div>
</div>