<div class="flex flex-col md:flex-row w-full relative">
  <% @news.limit(1).each do |news| %>

    <div class="w-full">
      <% if news.image.attached? %>
        <%= image_tag(news.image, class: "w-full h-auto md:h-[650px] object-cover" )  %>
      <% end %>
    </div>

    <div class="absolute top-[30%] inset-0 flex justify-center items-center z-10 top-0">
      <p class="text-lg md:text-2xl lg:text-3xl font-bold text-white text-center">
        <%= news.type_of_news %> | <%= news.header_news %>
      </p>
    </div>

  <% end %>
</div>

<%= render 'home/overlay' %>

