<% @news.limit(1).each do |news| %>
<div class="flex flex-col justify-center md:flex-row w-full ">
  <div class="w-full ">
    <% if news.image.attached? %>
      <%= image_tag(news.image, class: "md:w-full h-[700px]" )  do %>
      <% end %>
    <% end %>
  </div>
</div>
    <div class="absolute inset-0 flex justify-center items-center z-10">
      <p class="text-2xl font-bold text-white"><%= news.type_of_news %> | <%= news.header_news %></p>
    </div>

<% end %>
<%= render 'home/overlay' %>


