<section class="bg-black py-4 text-gray-200">
  <div class="container mx-auto px-4">
    <div class="bg-white p-4">
      <div class="flex items-center justify-center py-4 px-8 bg-white">
        <div class="flex items-center space-x-2">
          <h1 class="text-3xl font-semibold text-gradient bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-700">
            Murang'a
          </h1>
          <span class="text-3xl font-semibold text-gradient bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-700">
            Seal News
          </span>
        </div>
      </div>
      <article class="flex justify-start">
        <% @news.limit(8).each_with_index do |news, index| %>
          <% if index == 0  %>
            <%# Handle the last item separately %>
          <% elsif index == 1 %>
            <%# Handle the last item separately %>
          <% elsif index == 2 %>
          <% elsif index == 3 %>
          <% else %>
            <% @news.length - index %>
            <!-- Card 1 -->
            <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
              <% if news.image.attached? %>
                <%= image_tag(news.image, class: "w-full h-48 object-cover w-full", alt: "Background Image" ) %>
              <% end %>
              <div class="flex">
                <!-- Text Section -->
                <div class="p-4 text-center">
                  <p class="text-black mt-2">
                    <%= truncate(news.header_news, length: 25, separator: ' ') %>
                  </p>
                  <a href="#" class="mt-4 inline-flex text-xs items-center text-black font-semibold">
                    <span class="ml-1">&rarr;</span> <%= news.type_of_news %>
                  </a>
                  <a href="#" class="mt-4 inline-flex text-xs items-center text-black font-semibold">
                    <span class="ml-1">&rarr; <%= time_ago_in_words(news.created_at) %> ago</span>
                  </a>
                </div>
              </div>
            </div>
        <% end %>
        <% end %>
      </article>
    </div>
  </div>
</section>