
<section class="bg-gray-900 py-4 text-gray-200">
  <div class="container mx-auto px-4">
    <div class="bg-white p-4">
      <div class="flex items-center justify-center py-4 px-8 bg-white">
        <div class="flex items-center space-x-2">
          <h1
            class="text-3xl font-semibold text-gradient bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-700"
          >
            Murang'a
          </h1>
          <span
            class="text-3xl font-semibold text-gradient bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-700"
          >Seal Store</span
          >
        </div>
      </div>
      <div class="flex justify-end mt-2 mb-4">
        <button
          class="bg-black text-white px-4 py-2 flex items-center justify-center space-x-2 ml-auto"
        >
          <span>OFFICIAL STORE MURANG’A SEAL</span>
          <i class="fa fa-shopping-cart"></i>
        </button>
      </div>

        <article class="flex justify-center">
        <!-- Card 1 -->
          <% @product.limit(4).each do |product|  %>
        <div class="bg-white rounded-lg shadow-lg overflow-hidden w-1/4 mr-2">
          <%= image_tag product.photo_product, class: "w-full h-48 object-cover", alt: 'New Kit' %>
          <div class="flex">
            <!-- Seat Image -->
            <div class="p-4 flex-1">
              <%= image_tag 'logo.png', class: 'w-full h-full object-cover'%>
            </div>

            <!-- Text Section -->
            <div class="p-4 flex-1">
              <h2 class="text-xl font-semibold">MEMORABILIA</h2>
              <p class="text-gray-500 mt-2">
                <%= raw product.content %>
                <%= content_tag(:span, raw(product.content), class: "text-gray-500") %>
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                SHOP NOW <span class="ml-1">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
          <% end %>
      </article>

    </div>
  </div>
</section>