
<div class="bg-black text-white">
<div class="grid md:grid-cols-3 grid-cols-1 auto-cols-max  justify-evenly">

  <!-- Scores -->
  <%= render 'scores' %>

  <!-- Previous Match -->
  <%= render 'ammend' %>


  <!-- Buy a Tshirt -->
  <div class="flex  p-4 mt-6 md:mt-0">
    <div class="flex flex-col gap-2">
      <p class="mb-4 text-white">AUTHENTIC HOME SHIRT</p>
      <p class="text-white mb-5">Team jersey</p>
      <p class="mb-4 text-white">2500 KSh</p>
      <p class="mb-4 text-white">Short sleeve</p>

      <!--
      <%= link_to "<button>Buy Now</button>".html_safe, product_index_path, class: "bg-[#FAE115]  flex justify-center text-black font-bold p-2 w-[80%] uppercase" %>
    -->
    </div>

    <%= image_tag "msealskit.png", alt: "Mseal Logo kit", class: "w-[50%]"%>

  </div>
</div>
</div>

