<div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden md:pr-20 flex flex-col">
  <div class="swiper-wrapper flex">
    <div class="swiper-slide p-20 swiper-slide-active" style="width: 688px; margin-right: 50px;">
      <h1><span class="text-[#FAE115]">Manager</span> seals Junior</h1>
      <p class="font-bold z-30 text-2xl">We are mentoring the future team leaders locally</p>
      <p class="text-[#F4EEEEB8] font-bold text-8xl z-0">01</p>
      <button class="bg-[#FAE115] font-extralight p-2 my-4">Read Tweet</button>
    </div>
    <div class="swiper-slide p-20 swiper-slide-next" style="width: 688px; margin-right: 50px;">
      <h1><span class="text-[#FAE115]">Coaches</span> Seals</h1>
      <p class="font-bold z-30 text-2xl">We are mentoring the future team leaders locally</p>
      <p class="text-[#F4EEEEB8] font-bold text-8xl relative right-[-50%] top-[-25%] z-0">02</p>
      <button class="bg-[#FAE115] font-extralight p-2 ">Read Tweet</button>
    </div>
  </div>
  </div>