<div>
  <%= render partial: 'home/header/landing_top_header' %>
  <%= render partial: 'home/matches/schedule' %>
  <%= render partial: 'home/shop/products_available' %>
  <%= render partial: 'home/teams/team_bg' %>
</div>