
<div class="p-6 bg-[#00000] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
  <% if current_user&.role == 'moderator' || current_user&.role == 'admin' %>
    <%=link_to "Add Product", new_product_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] rounded font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 mb-2" %>
  <% end %>
    <%= render partial: "cart/cart" if @render_cart %>
</div>

<div class="p-6 flex flex-row justify-center">
  <!-- Categories section, taking more space -->
  <div class="">
    <%= render 'product/categories' %>
  </div>

  <!-- Product cards container, taking the remaining space -->
  <div class="">
    <div class="flex flex-wrap mx-auto">
      <%= render 'product/product' %>
    </div>
  </div>
</div>
