<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Forward</h1>
  <div class="grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 flex-col text-center p-2">

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "BrianJumaAT.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Brian</h1>
          <h1 class="font-semibold text-2xl">Juma</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">29</h1>
      </div>
    </div>

    <div class="w-[300px] lg:h-[200px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "JohnMwitaAT.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Mwita</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">07</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "defender3.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Victor</h1>
          <h1 class="font-semibold text-2xl">Onyango</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">05</h1>
      </div>
    </div>

  </div>

</div>