<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Forward</h1>
  <hr class="ml-4 w-[6%] bg-[#FAE115] h-[10px] mb-2">
  <div class="grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 flex-col text-center p-2">

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
      <%= image_tag "BrianJumaAT.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Brian</h1>
          <h1 class="font-semibold text-2xl">Juma</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">29</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
      <%= image_tag "JohnMwitaAT.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Mwita</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">07</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
      <%= image_tag "SalimAT.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Salim</h1>
          <h1 class="font-semibold text-2xl">Akatha</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">25</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
      <%= image_tag "FrancisAT.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Francis</h1>
          <h1 class="font-semibold text-2xl">Ocholla</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">88</h1>
      </div>
    </div>


  </div>
</div>