<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Goalkeepers</h1>
  <div class="grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 flex-col text-center p-2">

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "goalkeeper1.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="">Centric</h1>
          <h1 class="font-semibold text-2xl">Asango</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">01</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "goalkeeper2.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="">Kevin</h1>
          <h1 class="font-semibold text-2xl">Mwagona</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">01</h1>
      </div>
    </div>

  </div>

</div>