<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Goalkeepers</h1>
  <hr class="ml-4 sm:w-[6%] md:w-[12%] lg:w-[12%] xl:w-[8%] w-[18%]  bg-[#FAE115] h-[10px] mb-2">
  <div class="grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 flex-col text-center p-2">

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
      <%= image_tag "goalkeeper2.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Wilson</h1>
          <h1 class="font-semibold text-2xl">Mwangi</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">01</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
      <%= image_tag "goalkeeper2.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Kevin</h1>
          <h1 class="font-semibold text-2xl">Mwagona</h1>
        </div>
        <h1 class="text-gray-400 text-5xl hover:text-[#FAE115]">22</h1>
      </div>
    </div>
    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
      <%= image_tag "goalkeeper2.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Christian</h1>
          <h1 class="font-semibold text-2xl">Kimeu</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">33</h1>
      </div>
    </div>

  </div>

</div>