<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Strikers</h1>
  <div class="grid lg:grid-cols-3 xl:grid-cols-4 flex-col text-center p-2">

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "defender1.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="">Samuel</h1>
          <h1 class="font-semibold text-2xl">Semo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">41</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "defender2.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="">Henry</h1>
          <h1 class="font-semibold text-2xl">Omollo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">11</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "defender3.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="">Victor</h1>
          <h1 class="font-semibold text-2xl">Onyango</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">05</h1>
      </div>
    </div>

  </div>

</div>