

  <div>
    <div class="p-8 bg-[#FAE115] font-bold uppercase text-5xl">
      Teams
    </div>
    <%= render 'team/goalkeeper' %>
    <%= render 'team/defenders' %>
    <%= render 'team/midfielders' %>
    <%= render 'team/strikers' %>
  </div>