
<div class="bg-gradient-to-b from-[#fae115] via-black via-30% to-black to-100% text-white pt-48 pb-10">
  <div class="bg-white mx-auto h-72 border border-black">
    <div class="mx-auto container grid md:grid-cols-4 grid-cols-1  justify-center p-2 m-2 ">

      <!--Button to View All Results-->
      <div class="col-span-1 justify-center border content-center h-64">
        <%= link_to  opponent_index_path, class: 'mt-3 text-center text-black font-bold text-4xl' do %>
          <p>View all<br>Results</p>
        <% end %>
      </div>

      <!--Button to View The current Match Results-->
      <%= render 'home/matches/current_match_landing' %>


      <div class="col-span-1 justify-center border h-64">
        <%= render 'home/matches/next_match_landing' %>

      </div>


    </div>
  </div>
</div>


