<div id="club-records">
  <div class="bg-black p-6 rounded shadow">
    <p>
      He joined Marseille on loan the following season and helped the club to second place during a campaign in
      which he was named the Ligue 1 Young Player of the Year, earned a spot in the league&#39;s Team of the Year and
      made his senior international debut. He featured for France at the 2022 World Cup and made six appearances
      as France reached the semi-finals of Euro 2024.
    </p>
  </div>
</div>