<!-- Video Section -->
<div id="history">
  <% @club.each do |club| %>
    <div class="bg-gray-200 relative aspect-w-16 aspect-h-9 mb-10">
      <!-- Place an image from the assets/images folder -->
      <%= image_tag(club.photo, class: 'absolute inset-0 object-cover w-full h-full', alt: 'Construction Site') %>
    </div>
    <div class="bg-black p-6 rounded shadow text-slate-100">
     <%= club.content %>
    </div>
  <% end %>
</div>