<div id="history">
  <div class="bg-black p-6 rounded shadow">
    <p class="mb-6">
      France international William continued to establish himself as one of the best centre backs in England
      during his second season of first-team action. The elegant, pacey centre back became the first Arsenal
      outfield player in the Premier League era, and the first since Lee Dixon in 1988/90, to play every minute
      of the league season, and he was a cornerstone of the PL&#39;s meanest defence - he won possession 213 times,
      more than any other centre back in the league.
    </p>
    <p class="mb-6">
      William made his long-awaited debut in 2022/23 after initially signing in July 2019 and impressed from the
      start, underpinning the Gunners&#39; title challenge until suffering a season-ending back injury in March 2023.
      He made his breakthrough at Saint-Etienne, where he remained on loan after signing for us and reached the
      French Cup final before spending half of 2020/21 on loan at Nice.
    </p>
    <p>
      He joined Marseille on loan the following season and helped the club to second place during a campaign in
      which he was named the Ligue 1 Young Player of the Year, earned a spot in the league&#39;s Team of the Year and
      made his senior international debut. He featured for France at the 2022 World Cup and made six appearances
      as France reached the semi-finals of Euro 2024.
    </p>
  </div>
</div>