<div id="management">
  <div class="bg-black p-6 rounded shadow">
    <p class="mb-6">
      William made his long-awaited debut in 2022/23 after initially signing in July 2019 and impressed from the
      start, underpinning the Gunners&#39; title challenge until suffering a season-ending back injury in March 2023.
      He made his breakthrough at Saint-Etienne, where he remained on loan after signing for us and reached the
      French Cup final before spending half of 2020/21 on loan at Nice.
    </p>
  </div>
</div>