<% if current_user&.role == 'moderator' || current_user&.role == 'admin' %>
  <div class="p-6 bg-black font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex flex-col md:flex-row justify-between">
    <h1>CLUB & HISTORY</h1>
    <%= link_to "Add Club & History", new_club_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm text-white hover:text-[#FAE115] p-2 rounded mb-2 mt-4 md:mt-0" %>
  </div>
<% end %>
<div class="max-w-5xl mx-auto p-5 min-h-screen">

  <!-- Page Title -->
  <h2 class="text-2xl sm:text-3xl font-semibold text-center mb-10">MURANG'A SEAL STORY</h2>

  <!-- Tabs Section -->
  <div class="flex justify-center mb-10">
    <nav class="flex flex-wrap justify-center space-x-4">
      <button class="text-lg tablinks hover:text-[#FAE115]hover:underline hover:underline-offset-4 hover:decoration-4 uppercase"
              id="tab-history"
              onclick="openCity(event, 'history')">History</button>
      <button class="text-lg tablinks hover:text-[#FAE115] hover:underline hover:underline-offset-4 hover:decoration-4 uppercase"
              id="tab-club-records"
              onclick="openCity(event, 'club-records')">Club Records</button>
      <button class="text-lg tablinks hover:text-[#FAE115] hover:underline hover:underline-offset-4 hover:decoration-4 uppercase"
              id="tab-management"
              onclick="openCity(event, 'management')">Management</button>
    </nav>
  </div>

  <!-- Video Section -->
  <div id="history" class="tabcontent active">
    <%= render 'club/history' %>
  </div>

  <div id="club-records" class="tabcontent">
    <%= render 'club/club-records' %>
  </div>

  <div id="management" class="tabcontent">
    <%= render 'club/management' %>
  </div>

</div>
<script>
    function openCity(evt, cityName) {
        const tabcontent = document.getElementsByClassName("tabcontent");
        const tablinks = document.getElementsByClassName("tablinks");

        // Hide all tab content
        for (let i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove active class from all tab links
        for (let i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("text-[#FAE115]", "underline-offset-4", "underline", "decoration-4");
        }

        // Show current tab content and add active class to clicked tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.classList.add("text-[#FAE115]", "underline-offset-4", "underline", "decoration-4");
    }

    // Set default tab to open
    document.getElementById("tab-history").click();
</script>