
  <div class="p-8 bg-[#FAE115] font-bold uppercase text-5xl">
    CLUB & HISTORY
  </div>

  <div class="flex flex-col gap-4 flex flex-col-reverse md:flex-row  items-center border-t-2  border-[#FAE115] my-4 bg-[#fdfee9] p-10">
    <div class="flex flex-col  ">
      <h1 class="md:text-4xl text-3xl uppercase mt-5 font-normal mb-8">
        Our team members
      </h1>
      <p class="md:w-[928px] font-light text-xl">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
      </p>

      <button class="w-[290px] h-[53px] bg-[#F4E721] font-normal my-3 py-3 text-2xl ">
        Read More
      </button>
    </div>

    <div class="">
      <%= image_tag "clubhistory1.png" %>
    </div>
  </div>



<div class="flex flex-col gap-4 flex flex-col-reverse md:flex-row  items-center border-t-2  border-[#FAE115] my-4 bg-[#fdfee9] p-10">

  <div class="">
    <%= image_tag "clubhistory2.png" %>
  </div>

  <div class="flex flex-col items-end ">
    <h1 class="md:text-4xl text-3xl uppercase mt-5 font-normal mb-8">
      Our Management
    </h1>
    <p class="md:w-[928px] font-light text-xl items-end">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
    </p>

    <button class="w-[290px] h-[53px] bg-[#F4E721] font-normal my-3 py-3 text-2xl ">
      Read More
    </button>
  </div>

</div>
