<div class="p-8 bg-[#FAE115] font-bold uppercase text-5xl">
  CLUB & HISTORY | <span class="text-3xl"><%= @club.header %></span>
</div>
 <div>
   <%= image_tag(@club.photo) %>
   <%= @club.body %>

 </div>

