<div class="p-8 bg-[#FAE115] font-bold uppercase text-5xl">
  CLUB & HISTORY | <span class="text-3xl"><%= @clubs.header %></span>
</div>
 <div>
   <%= image_tag(@clubs.photo) %>
   <%= @clubs.body %>

 </div>

